[Unit]
Description=Market727
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/backend/market727
ExecStart=/home/backend/venv/bin/gunicorn --access-logfile - --workers 1 --bind unix:/home/backend/market727/market727.sock market727.wsgi:application

[Install]
WantedBy=multi-user.target
